{% extends "layout.html" %}

{% block main %}

<script src="../static/script.js"></script>
<script src="../static/type-script.js"></script>

<div class="card">
    <h2 class="card-heading">What is a Morse code translator?</h2>
    <p class="card-Paragraph">It is an efficient online tool that translates Morse code within in few seconds. It is
        helpful for those who are not familiar with the Morse alphabet table and want to save time instead of learning
        to read the table. With a Morse code translator and reader, anyone can translate the code into English language
        or any other language. Morse code converter converts dashes and punctuation marks into English sentences or
        words or other languages that you choose. Our converter can encode as well as decode morse code. Encode means it
        converts text into morse code whereas decode means converting code into the original text.</p>
</div>

<div class="alert alert-warning" role="alert">
    Register now for instant access to all your files anytime, anywhere, and enjoy seamless document management and
    updates!
</div>


<div class="button-container">
    <div class="simple-container">
        <button onclick="sendPostRequest('text')">Text</button>
        <button onclick="sendPostRequest('morse')">Morse</button>
    </div>
</div>

<h1 id="heading">Convert Text to Morse Code Form</h1>

<form action="/convert" method="post" enctype="multipart/form-data" id="form1" onsubmit="handleFormSubmit(event)">
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" name="file" required>
        <button type="submit" class="btn btn-primary" id="uploadButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-up-circle-fill" viewBox="0 0 16 16">
                <path
                    d="M16 8A8 8 0 1 0 0 8a8 8 0 0 0 16 0m-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707z">
                </path>
            </svg>
            Upload
        </button>
    </div>
</form>

<div class="result">
    <button type="button" class="btn btn-success" id="downloadButton" class="result">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
            class="bi bi-arrow-down-square-fill" viewBox="0 0 16 16">
            <path
                d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm6.5 4.5v5.793l2.146-2.147a.5.5 0 0 1 .708.708l-3 3a.5.5 0 0 1-.708 0l-3-3a.5.5 0 1 1 .708-.708L7.5 10.293V4.5a.5.5 0 0 1 1 0">
            </path>
        </svg>
        Download
    </button>
</div>

<div class="card">
    <h2 class="card-heading">What is Morse Code?</h2>
    <p class="card-Paragraph">Before the technological advancements, the most efficient way to communicate with each
        other was to use Morse
        code. Messages were sent using signals which could be shorter and longer. A telegraph was used for this purpose
        which transmitted the signals through a series of dashes and dots. On the other hand, a telegraph operator was
        there to receive the signals and then translate them into the original message. Although the world has seen
        immense technological advancement, due to its simplicity, morse code still remains relevant in today's
        world.</p>
    <br>
    <h2 class="card-heading">Why was Morse Code Used?</h2>
    <p class="card-Paragraph">It was mostly used in wars to stay informed as well as to bring families together through
        these messages. Even today it is required to be learned by Naval intelligence trainees and is accepted as a
        universal communication method. It is used in amateur radio, aviation, and emergency services. Some may also
        keep the apparatus for the hobby and nostalgia. It is still used in films and software programs. </p>
    <br>
    <p class="card-Paragraph">Today’s Morse code encoder is slightly different from the original and is called
        international Morse code which is also easier to use. Its official use is almost diminished but many still use
        it due to its reliability and simplicity. The advantage of using this technique is that it requires minimal
        technology and comes in handy in low-tech environments. It works efficiently over vast distances and it is
        effective in challenging situations. One of the most effective and commonly used messages was Morse code SOS “…
        ___ …” which is a message requesting help and literally translating into “Save Our Souls”. </p>
    <h2 class="card-heading">Common Morse Code Sentences</h2>
    <p class="card-Paragraph">
        The first morse code message sent through telegraph line was “What hath God Wrath” using codes on 24 May 1844.
        After that, this technique became common and the most commonly used sentences are:
        <br><br>
        SOS (Save Our Souls): …—…<br>
        I Love You: .. / .-.. — …- . / -.- — ..-<br>
        Help Me: …. . .-.. .-.<br>
        Hello: …. . .-.. .-.. —
    </p>
    <h2 class="card-heading">Conclusion </h2>
    <p class="card-Paragraph">
        Morse code is a simple and straightforward way of communicating with each other which was invented in the 19th
        century. It was mainly used to stay informed during wars and in emergencies. Today it is used in Naval and
        Aviation for communication. Some may also use it as a hobby and some people use Morse Code Tattoos to enhance
        their looks.
    </p>
    <p class="card-Paragraph">
        Although it is the most simple way of communication, many today don’t know how to decode or translate it.
        Therefore, an online Morse code translator comes in handy when someone wants to convert Morse to text. It can
        also convert text to Morse code. Morse code translation is an efficient way to translate code into text and vice
        versa. Simply put the code into the input box and it will instantly translate it into text in your desired
        language. Morse code convertor can also encode the original message into the morse code using dashes and
        punctuations.
    </p>
</div>
<div class="card">
    <h2 class="card-heading">Frequently Asked Questions (FAQs)</h2>
    <br>
    <h5>Q: What is a morse code?</h3>
        <br>
        <p class="card-Paragraph">A: morse code is the simplest and fascinating way of communication which involves dots
            and dashes which are later translated into the original message.</p>
        <br>
        <h5>Q: How do translate Morse code?</h5>
        <br>
        <p class="card-Paragraph">A: you can readily translate Morse code to English using our translator which decodes
            the original message instantly.</p>
        <br>
        <h5>Q: What is international morse code?</h5>
        <br>
        <p class="card-Paragraph">A: it is an improved and refined version of the original codigo morse and is
            universally accepted. It is globally recognized and easy to use.</p>
</div>

{% endblock %}