body {
    background-color: #f8f9fa;
}

.card {
    border: 2px solid rgb(0, 123, 255);
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
    background-color: #ffffff;
}

.card h2 {
    color: #007bff;
}

.form-control {
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    transition: border-color 0.3s;
}

.form-control:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.hf-warning {
    background: linear-gradient(to bottom, rgba(255, 255, 255, .9), rgba(255, 255, 255, .75));
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 1px;
    box-shadow: 0 12px 10px -10px rgba(0, 0, 0, .5);
    box-sizing: border-box;
    max-width: 100%;
    color: #621;
    font-size: 14px;
    line-height: 18px;
    padding: .25em .5em;
    pointer-events: none;
    white-space: pre-line;
    display: none;
}

.hf-warning:empty {
    display: none;
}

.hf-invalid+.hf-warning {
    display: none;
    position: absolute;
}

:invalid+.hf-warning {
    display: none;
    position: absolute;
}

.hf-invalid:focus+.hf-warning:not(:empty) {
    display: block;
}

:invalid:focus+.hf-warning:not(:empty) {
    display: block;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #0056b3;
}
